.bg-light-grey {
    background-color: lightgray;
}

.bg-dark-grey {
    background-color: darkgrey;
}

.bg-black {
    background-color: black;
}

#company-logo {
    width: 82.06px;
    height: 41px;
}

#login-logout-div {
    padding-right: 0px;
}

#logo {
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#nav-menu {
    padding-left: 0px;
}

#roster-filter {
    padding-top: 5px;
}

#roster-filter input{
    border-radius: 5px;
}

#nav-menu > .nav-tabs {
    border-bottom: 0px;     
}

#crafter-table {
    vertical-align: top;
}

.active-player-icon {
    color: green;
}

.inactive-player-icon {
    color: red;
}
.active-player-icon-admin {
    color: green;
    cursor: pointer;
}

.inactive-player-icon-admin {
    color: red;
    cursor: pointer;
}

.showinactive-div {
    padding-left: 55px;
}

.round-image {
    border-radius: 50%;
    cursor: pointer;
}

.nav-tabs .nav-link.active {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid transparent;
    background-color: lightgrey;
    color: black;
}

.nav-tabs .nav-link.inactive {
    background-color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid transparent;
    color: black;
}

.border-all {
    border: 1px solid black;
}

.border-bottom-black {
    border-bottom: 1px solid black;
}

.confirm-box {
    position:fixed !important;
}

.margin-all-5 {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.padding-left-10 {
  padding-left: 10px
}

.padding-left-20 {
  padding-left: 20px
}

.padding-top-10 {
  padding-top: 10px
}

.padding-all-5 {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.padding-bottom-4 {
    padding-bottom: 4px;
}

.padding-top-4 {
    padding-top: 4px;
}

.padding-all-0 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

body {

    background-color: black;
    
}