.bg-light-grey {
    background-color: lightgray;
}

.bg-dark-grey {
    background-color: darkgrey;
}

.bg-black {
    background-color: black;
}

#company-logo {
    width: 82.06px;
    height: 41px;
}

#nav-menu {
    padding-left: 0px;
}

#nav-menu > .nav-tabs {
    border-bottom: 0px;     
}

.nav-tabs .nav-link.active {
    border-color: green green transparent green;
    background-color: lightgrey;
    color: black;
}

.nav-tabs .nav-link.inactive {
    background-color: white;
    color: black;
}

.padding-bottom-4 {
    padding-bottom: 4px;
}

.padding-all-0 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

body {

    background-color: black;
    
}